{%- if section.settings.collection.all_products_count < section.settings.max_products -%}
  {%- assign sliders = section.settings.collection.all_products_count | minus: section.settings.columns_desktop | plus: 1 -%} 
{%- else -%}
  {%- assign sliders = section.settings.max_products | minus: section.settings.columns_desktop | plus: 1 -%} 
{%- endif -%}

{%- style -%}
  #shopify-section-{{ section.id }} {
    background: {%- if section.settings.color_scheme.settings.background_gradient != blank -%}{{ section.settings.color_scheme.settings.background_gradient }}{%- else -%}{{ section.settings.color_scheme.settings.background }}{%- endif -%};
    color: {{ section.settings.color_scheme.settings.text }} !important;
  }

  #shopify-section-{{ section.id }} h2 {
    color: {{ section.settings.color_scheme.settings.text }} !important;
  }

  #shopify-section-{{ section.id }} .solid {
    background: {{ section.settings.color_scheme.settings.button }};
    color: {{ section.settings.color_scheme.settings.button_label }}
  }

  #shopify-section-{{ section.id }} .outline {
    background: {{ section.settings.color_scheme.settings.background }};
    color: {{ section.settings.color_scheme.settings.secondary_button_label }};
    border-color: {{ section.settings.color_scheme.settings.secondary_button_label }}
  }
{%- endstyle -%}

<div class="pt-[{{ section.settings.padding_top }}px] pb-[{{ section.settings.padding_bottom }}px]">
  {%- if section.settings.heading_title != blank or section.settings.show_description == false and section.settings.description != blank or section.settings.show_description == true and section.settings.collection.description != blank -%}
    <div class='collection__title'>
      {%- if section.settings.heading_title != blank -%}
        <h2 class="text-{{ section.settings.heading_size }}">
          {{ section.settings.heading_title }}
        </h2>
      {%- endif -%}
      {%- if section.settings.show_description == false and section.settings.description != blank -%}
        <div class="{%- if section.settings.description_style == 'subtitle' -%}text-3xl{%- endif -%}{%- if section.settings.description_style == 'uppercase' -%}uppercase{%- endif -%}">
          {{ section.settings.description }}
        </div>
      {%- endif -%}
      {%- if section.settings.show_description == true and section.settings.collection.description != blank -%}
        <div class="{%- if section.settings.description_style == 'subtitle' -%}text-3xl{%- endif -%}{%- if section.settings.description_style == 'uppercase' -%}uppercase{%- endif -%}">
          {{ section.settings.collection.description }}
        </div>
      {%- endif -%}
    </div>
  {%- endif -%}

    <div class="collection__products {%- if section.settings.full_width == true -%}full-width{%- endif -%}" x-data="{ 
      slider_pos: 1,
      sliders: {{ sliders }},
      prev() {
        if (this.slider_pos > 1) {
          this.slider_pos--;
          if (this.slider_pos === 1) {
            $refs.prev_btn.disabled = true
          } else {
            $refs.prev_btn.removeAttribute('disabled')
            $refs.next_btn.removeAttribute('disabled')
          }
          const sliderItem = $el.querySelectorAll('.product-item');
          for(let i=0; i < sliderItem.length; i++) {
            const prevTransform = sliderItem[i].style.transform
            const first = prevTransform.lastIndexOf('(')
            const last = prevTransform.indexOf('%')
            const transfromValue = Number(prevTransform.slice(first+1, last)) + 100
            sliderItem[i].style.transform = `translateX(calc(${transfromValue}% +  ${transfromValue/100*0.5}rem))`
          }
        }
      },
      next() {
        if (this.slider_pos < this.sliders) {
          this.slider_pos++;
          if (this.slider_pos === this.sliders) {
            $refs.next_btn.disabled = true
          } else {
            $refs.next_btn.removeAttribute('disabled')
            $refs.prev_btn.removeAttribute('disabled')
          }
          const sliderItem = $el.querySelectorAll('.product-item');
          for(let i=0; i < sliderItem.length; i++) {
            const prevTransform = sliderItem[i].style.transform
            const first = prevTransform.lastIndexOf('(')
            const last = prevTransform.indexOf('%')
            const transfromValue = Number(prevTransform.slice(first+1, last)) - 100
            sliderItem[i].style.transform = `translateX(calc(${transfromValue}% +  ${transfromValue/100*0.5}rem))`
          }
        }
      }
    }">
    {%- if section.settings.collection.title -%}
      {%- if section.settings.show_carousel -%}
        <div class="slider-rebuild">
          {%- for product in section.settings.collection.products limit: section.settings.max_products -%}
            {%- render 'product-item', product: product, col: section.settings.columns_desktop, col_mobile: section.settings.columns_mobile -%}
          {%- endfor -%}
        </div>
        {%- if section.settings.collection.all_products_count > section.settings.columns_desktop and section.settings.max_products > section.settings.columns_desktop -%}
          <div class="slider-rebuild__button">
            <button disabled x-ref="prev_btn" class="prev" x-on:click="prev()">{%- render 'icon-caret' -%}</button>
            <p><span x-text="slider_pos"></span>/<span x-text="sliders"></span></p>
            <button x-ref="next_btn" class="next" x-on:click="next()">{%- render 'icon-caret' -%}</button>
          </div>
        {%- endif -%}
      {%- else -%}
        <div class="grid-cols-{{ section.settings.columns_mobile }} gap-y-8 gap-x-4 md:grid-cols-{{ section.settings.columns_desktop }} md:gap-x-4 !grid">
          {%- for product in section.settings.collection.products limit: section.settings.max_products -%}
            {%- render 'product-item', product: product, auto: true, col: section.settings.columns_desktop -%}   
          {%- endfor -%}
        </div>
      {%- endif -%}
    {%- else -%}
      <div class="grid-cols-{{ section.settings.columns_mobile }} gap-y-8 gap-x-4 md:grid-cols-{{ section.settings.columns_desktop }} md:gap-x-4 !grid">
        {%- for i in (1..section.settings.columns_desktop) -%}
          {%- render 'product-item', product: blank, auto: true, col: section.settings.columns_desktop, col_mobile: section.settings.columns_mobile -%}   
        {%- endfor -%}
      </div>
    {%- endif -%}
    </div>

    {%- if section.settings.view_all and section.settings.collection.url != blank and section.settings.collection.all_products_count > section.settings.max_products -%}
      <div class="collection__link">
        <a class="{%- if section.settings.view_all_style == 'link' -%}view-all-link{%- endif -%}{%- if section.settings.view_all_style == 'outline' -%}outline{%- endif -%}{%- if section.settings.view_all_style == 'solid' -%}solid{%- endif -%}" :href='{{ section.settings.collection.url }}'>View all</a>
      </div>
    {%- endif -%}
</div>

{%- schema -%}
{
  "name": "t:sections.featured-collection-rebuild.name",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading_title",
      "default": "Featured collection rebuild",
      "label": "t:sections.featured-collection-rebuild.settings.heading_title.label"
    },
    {
      "type": "select",
      "id": "heading_size",
      "options": [
        {
          "value": "4xl",
          "label": "t:sections.featured-collection-rebuild.settings.heading_size.options__1.label"
        },
        {
          "value": "6xl",
          "label": "t:sections.featured-collection-rebuild.settings.heading_size.options__2.label"
        },
        {
          "value": "8xl",
          "label": "t:sections.featured-collection-rebuild.settings.heading_size.options__3.label"
        }
      ],
      "default": "6xl",
      "label": "t:sections.featured-collection-rebuild.settings.heading_size.label"
    },
    {
      "type": "richtext",
      "id": "description",
      "label": "t:sections.featured-collection-rebuild.settings.description.label"
    },
    {
      "type": "checkbox",
      "id": "show_description",
      "label": "t:sections.featured-collection-rebuild.settings.show_description.label",
      "default": false
    },
    {
      "type": "select",
      "id": "description_style",
      "options": [
        {
          "value": "body",
          "label": "t:sections.featured-collection-rebuild.settings.description_style.options__1.label"
        },
        {
          "value": "subtitle",
          "label": "t:sections.featured-collection-rebuild.settings.description_style.options__2.label"
        },
        {
          "value": "uppercase",
          "label": "t:sections.featured-collection-rebuild.settings.description_style.options__3.label"
        }
      ],
      "default": "body",
      "label": "t:sections.featured-collection-rebuild.settings.description_style.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection-rebuild.settings.collection.label"
    },
    {
      "type": "range",
      "id": "max_products",
      "min": 2,
      "max": 25,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection-rebuild.settings.max-products.label"
    },
    {
      "type": "range",
      "id": "columns_desktop",
      "min": 1,
      "max": 6,
      "step": 1,
      "default": 4,
      "label": "t:sections.featured-collection-rebuild.settings.columns_desktop.label"
    },
    {
      "type": "checkbox",
      "id": "full_width",
      "label": "t:sections.featured-collection-rebuild.settings.full_width.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "view_all",
      "label": "t:sections.featured-collection-rebuild.settings.view_all.label",
      "default": true
    },
    {
      "type": "select",
      "id": "view_all_style",
      "options": [
        {
          "value": "link",
          "label": "t:sections.featured-collection-rebuild.settings.view_all_style.options__1.label"
        },
        {
          "value": "outline",
          "label": "t:sections.featured-collection-rebuild.settings.view_all_style.options__2.label"
        },
        {
          "value": "solid",
          "label": "t:sections.featured-collection-rebuild.settings.view_all_style.options__3.label"
        }
      ],
      "default": "solid",
      "label": "t:sections.featured-collection-rebuild.settings.view_all_style.label"
    },
    {
      "type": "checkbox",
      "id": "show_carousel",
      "label": "t:sections.featured-collection-rebuild.settings.show_carousel.label",
      "default": false
    },
    {
      "type": "color_scheme",
      "id": "color_scheme",
      "label": "t:sections.all.colors.label",
      "info": "t:sections.all.colors.has_cards_info",
      "default": "scheme-1"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection-rebuild.settings.header_product_card.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.featured-collection-rebuild.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.featured-collection-rebuild.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.featured-collection-rebuild.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.featured-collection-rebuild.settings.image_ratio.label"
    },
    {
      "type": "select",
      "id": "image_shape",
      "options": [
        {
          "value": "default",
          "label": "t:sections.all.image_shape.options__1.label"
        },
        {
          "value": "arch",
          "label": "t:sections.all.image_shape.options__2.label"
        },
        {
          "value": "blob",
          "label": "t:sections.all.image_shape.options__3.label"
        },
        {
          "value": "chevronleft",
          "label": "t:sections.all.image_shape.options__4.label"
        },
        {
          "value": "chevronright",
          "label": "t:sections.all.image_shape.options__5.label"
        },
        {
          "value": "diamond",
          "label": "t:sections.all.image_shape.options__6.label"
        },
        {
          "value": "parallelogram",
          "label": "t:sections.all.image_shape.options__7.label"
        },
        {
          "value": "round",
          "label": "t:sections.all.image_shape.options__8.label"
        }
      ],
      "default": "default",
      "label": "t:sections.all.image_shape.label",
      "info": "t:sections.all.image_shape.info"
    },
    {
      "type": "checkbox",
      "id": "show_second_image",
      "label": "t:sections.featured-collection-rebuild.settings.show_second_image.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "label": "t:sections.featured-collection-rebuild.settings.show_vendor.label",
      "default": false
    },
    {
      "type": "checkbox",
      "id": "show_product_rating",
      "label": "t:sections.featured-collection-rebuild.settings.show_product_rating.label",
      "default": false,
      "info": "t:sections.featured-collection-rebuild.settings.show_product_rating.info"
    },
    {
      "type": "select",
      "id": "quick_add",
      "options": [
        {
          "value": "none",
          "label": "t:sections.featured-collection-rebuild.settings.quick_add.options__1.label"
        },
        {
          "value": "standard",
          "label": "t:sections.featured-collection-rebuild.settings.quick_add.options__2.label"
        },
        {
          "value": "bulk",
          "label": "t:sections.featured-collection-rebuild.settings.quick_add.option__3.label"
        }
      ],
      "default": "none",
      "label": "t:sections.featured-collection-rebuild.settings.quick_add.label",
      "info": "t:sections.featured-collection-rebuild.settings.quick_add.info"
    },
    {
      "type": "header",
      "content": "t:sections.featured-collection-rebuild.settings.header_mobile_layout.content"
    },
    {
      "type": "select",
      "id": "columns_mobile",
      "options": [
        {
          "value": "1",
          "label": "t:sections.featured-collection-rebuild.settings.columns_mobile.options__1.label"
        },
        {
          "value": "2",
          "label": "t:sections.featured-collection-rebuild.settings.columns_mobile.options__2.label"
        }
      ],
      "default": "1",
      "label": "t:sections.featured-collection-rebuild.settings.columns_mobile.label"
    },
    {
      "type": "checkbox",
      "id": "enable_swipe",
      "label": "t:sections.featured-collection-rebuild.settings.enable_swipe.label",
      "default": false
    },
    {
      "type": "header",
      "content": "t:sections.all.padding.section_padding_heading"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_top",
      "default": 36
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "t:sections.all.padding.padding_bottom",
      "default": 36
    }
  ],
  "blocks": [],
  "presets": [
    {
      "name": "t:sections.featured-collection-rebuild.presets.name"
    }
  ]
}
{%- endschema -%}